<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" [routerLink]="['/']">Home</a>

		<div class="collapse navbar-collapse">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nar-link active" [routerLink]="['/store-data']">Store Data Ngrx Page</a>
				</li>
				&nbsp;
				&nbsp;
				<li class="nav-item">
					<a class="nar-link active" [routerLink]="['/todoapp']">TodoApp Page</a>
				</li>
				&nbsp;
				&nbsp;
				<li class="nav-item">
					<a class="nar-link active" [routerLink]="['/sendmessager']">Message Page</a>
				</li>
				&nbsp;
				&nbsp;
				<li class="nav-item">
					<a class="nar-link active" [routerLink]="['/content']">Content Projection Page</a>
				</li>
			</ul>

		</div>
	</div>
</nav>

<router-outlet></router-outlet>
<!--
<div class="wrapper d-flex flex-column align-items-center ">
	<h1 class="title">todos</h1>
	<div class="row justify-content-center w-100">
		<div class="todo-wrapper p-0 d-flex flex-column col-md-6 col-sm-8">
			<app-header></app-header>
			<app-todo-list></app-todo-list>
			<app-footer *ngIf="this.hasTodo$|async"></app-footer>
		</div>
	</div>

	<small class="instruction text-center">
		<em>Press Enter to add new todo. Press Arrow icon to toggle todos.</em>
		<br><br>
		Copyright TodoApp
	</small>
</div> 
-->

<!--
<div>
	<div class="card">
	<div class="header">
		<ng-content select=".card-header"></ng-content>
	</div>
	<div class="body">
		<ng-content select=".card-body"></ng-content>
	</div>
	
</div>
-->